.main-block {
  margin: 24px 40px 60px;
}

.main-block__name {
  display: flex;
  align-items: center;
}

.main-block__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #222222;
  margin-right: 12px;
}

.main-block__btn-edit {
  width: 20px;
  height: 20px;
  background-image: url('../../../../img/Market/Edit.svg');
  border: none;
  background-color: #fff;
}

.main-block__btn-edit:active {
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
  border-radius: 20%;
}

.summary__info {
  margin-top: 12px;
  margin-bottom: 32px;
}

.summary__info-name {
  display: flex;
  margin-top: 32px;
}

.summaru__info-title {
  margin-right: 16px;
}

.summary__info-notation {
  display: flex;
}

.summary__info-blocks {
  display: flex;
  margin-top: 20px;
}

.summary__info-block-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 150px;
}

.summary__info-block-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 12px;
}

.summary__info-text-field {
  margin-bottom: 12px;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #3b3b3b;
}

.summary__info-text-field-value {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #3b3b3b;
}

.summary__info-hr {
  width: 1088px;
  height: 0px;
  border: 1px solid #e5e5e5;
  margin-top: 12px;
  margin-bottom: 20px;
}

.summary__info-photo-block {
  display: flex;
}

figure {
  width: 160px;
  height: 160px;
  margin-right: 24px;
  margin-left: 0px;
  margin-top: 20px;
  position: relative;
}

.summary__info-btn img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.summary__info-btn-add {
  display: block;
  margin-top: 50px;
  width: 400px;
  height: 40px;
  background-image: url('../../../../img/Market/Add.svg');
  padding: 10px 40px 10px 12px;
  background-repeat: no-repeat;
  background-position: 4%;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  color: #82b284;
}

.summary__info-btn-add:active {
  background-color: #e5e5e5;
}

footer {
  width: 1088px;
  height: 48px;
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  text-align: center;
  color: #b9b9b9;
}
