.main {
  margin: 24px 40px 60px;
}

.main__name {
  display: flex;
  align-items: center;
}

.main__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #222222;
  margin-right: 12px;
}

.main__btn-edit {
  width: 20px;
  height: 20px;
  background-image: url('../../../../img/Market/Edit.svg');
  border: none;
  background-color: #fff;
}

.main__btn-edit:active {
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
  border-radius: 20%;
}

.main__btn-edit:hover {
  transform: scale(1.5);
}

.summary-info {
  margin-top: 12px;
  margin-bottom: 32px;
}

.summary-info__name {
  display: flex;
  margin-top: 32px;
}

.summaru-info__title {
  margin-right: 16px;
}

.summary-info__notation {
  display: flex;
}

.summary-info__blocks {
  display: flex;
  margin-top: 20px;
}

.summary-info__block-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 150px;
}

.summary-info__block-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 12px;
}

.summary-info__text-field {
  margin-bottom: 12px;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #3b3b3b;
}

.summary-info__text-field-value {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #3b3b3b;
}

.summary-info__hr {
  width: 1088px;
  height: 0px;
  border: 1px solid #e5e5e5;
  margin-top: 12px;
  margin-bottom: 20px;
}

.summary-info__photo-block {
  display: flex;
}

figure {
  width: 160px;
  height: 160px;
  margin-right: 24px;
  margin-left: 0px;
  margin-top: 20px;
  position: relative;
}

.summary-info__btn img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.summary-info__btn-add {
  display: block;
  margin-top: 50px;
  width: 320px;
  height: 20px;
  background-image: url('../../../../img/Market/Button-regular.svg');
  padding: 10px 40px 10px 12px;
  background-repeat: no-repeat;
  background-position: 4%;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  color: #82b284;
}

.summary-info__btn-add:hover {
  color: #98c88c;
  background-image: url('../../../../img/Market/Button-hovered.svg');
}

.summary-info__btn-add:active {
  color: #58a742;
  background-image: url('../../../../img/Market/Button-pressed.svg');
}

footer {
  width: 1088px;
  height: 48px;
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  text-align: center;
  color: #b9b9b9;
}

input[type='file'] {
  display: none;
}
