.wrapper__market {
  width: 224px;
  height: 900px;
  background-color: #f7f7f7;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.072) 0%, rgba(255, 255, 255, 0) 10%);
  background-color: #f7f7f7;
}
