.wrapper__market-side {
  width: 224px;
  height: 900px;
  background-color: #f7f7f7;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.072) 0%, rgba(255, 255, 255, 0) 10%);
  background-color: #f7f7f7;
}

.wrapper__market-side-agent {
  margin-top: 20px;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.03em;
  color: #3b3b3b;
}

.wrapper__market-side-processManager {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #3b3b3b;
}

.wrapper__market-side-organizations {
  background: #eeeeee;
  width: 224px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.wrapper__market-side-organizations-img {
  width: 20px;
  height: 20px;
}

.wrapper__market-side-organizations-text {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #82b284;
  margin-left: 12px;
}

.marketHeader {
}

.marketHeader__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1168px;
  height: 72px;
}

.marketHeader__wrapper-title {
  width: 292px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 40px;
}

.marketHeader__arrow {
  width: 20px;
  height: 20px;
}

.marketHeader__title {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #82b284;
}

.marketHeader__icons {
  width: 108px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 40px;
}

.marketHeader__hr {
  width: 1168px;
  height: 0px;
  border: 1px solid #e5e5e5;
}

.main-block {
  margin: 24px 40px 60px;
}

.main-block__name {
  display: flex;
  align-items: center;
}

.main-block__title {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #222222;
  margin-right: 12px;
}

.main-block__btn-edit {
  width: 20px;
  height: 20px;
  background-image: url('../../img/Market/Edit.svg');
  border: none;
  background-color: #fff;
}

.main-block__btn-edit:active {
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
  border-radius: 20%;
}

.summary__info {
  margin-top: 12px;
  margin-bottom: 32px;
}

.summary__info-name {
  display: flex;
  margin-top: 32px;
}

.summaru__info-title {
  margin-right: 16px;
}

.summary__info-notation {
  display: flex;
}

.summary__info-blocks {
  display: flex;
  margin-top: 20px;
}

.summary__info-block-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 150px;
}

.summary__info-block-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 12px;
}

.summary__info-text-field {
  margin-bottom: 12px;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #3b3b3b;
}

.summary__info-text-field-value {
  margin-bottom: 12px;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #3b3b3b;
}

.summary__info-hr {
  width: 1088px;
  height: 0px;
  border: 1px solid #e5e5e5;
  margin-top: 12px;
  margin-bottom: 20px;
}

.summary__info-photo-block {
  display: flex;
}

figure {
  width: 160px;
  height: 160px;
  margin-right: 24px;
  margin-left: 0px;
  margin-top: 20px;
  position: relative;
}

.summary__info-photo-subscription {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #3b3b3b;
  margin-top: 8px;
}

.summary__info-photo-date {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #808080;
  margin-top: 4px;
}

.summary__info-btn {
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url(../../img/Market/Close.svg);
  border-radius: 50%;
  border: none;
  bottom: 132px;
  left: 132px;
}

.summary__info-btn img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.summary__info-btn-add {
  display: block;
  margin-top: 50px;
  width: 400px;
  height: 40px;
  background-image: url('../../img/Market/Add.svg');
  padding: 10px 40px 10px 12px;
  background-repeat: no-repeat;
  background-position: 4%;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  color: #82b284;
}

.summary__info-btn-add:active {
  background-color: #e5e5e5;
}

footer {
  width: 1088px;
  height: 48px;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  text-align: center;
  color: #b9b9b9;
}
