.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48px;
  height: 900px;
  background-color: #82b284;
}

.sidebar__icon {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar__icons {
  display: flex;
  flex-direction: column;
  width: 48px;
}
